<a href="https://colab.research.google.com/github/Shraddha-Ramteke/Advanced-Python-Programming/blob/main/file%201.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Here are some programs ->

In [1]:
#print hello world 

print("hello world")

hello world

In [2]:
# Drawing a Shape

print("   /|")
print("  / |")
print(" /  |")
print("/___|")

   /|
  / |
 /  |
/___|

In [9]:
#Variables & Data Types

char_name = "Shah rukh Khan"
char_age = "56"
char_place = "New Delhi, India."
print(char_name + " also known by the initialism SRK.")
print(char_name + " is a " + char_age + " year old Indian Actor.")
print(char_name + " was born on 2nd Nov,1956 in " + char_place )

Shah rukh Khan also known by the initialism SRK.
Shah rukh Khan is a 56 year old Indian Actor.
Shah rukh Khan was born on 2nd Nov,1956 in New Delhi, India.

# Working with Strings

In [10]:
print("great\n job")

great
 job

In [14]:
name = "Shraddha"
print(name)

Shraddha

In [15]:
# If want in lower case
name = "Shraddha"
print(name.lower())

shraddha

In [16]:
# If want in Upper case
name = "Shraddha"
print(name.upper())

SHRADDHA

In [17]:
# to find how many char in String
name = "Shraddha"
print(len(name))

8

In [18]:
# To find 1st Char in String 
name = "Shraddha"
print(name[0])

S

In [19]:
# Index function 
name = "Shraddha"
print(name.index('d'))

4

In [20]:
# To replace Function
name = "Shraddha"
print(name.replace("Shraddha","Shruti"))

Shruti

# Working With Numbers

In [21]:
print(2)

2

In [22]:
print(2+5)

7

In [23]:
print(10%2)           #gives remainder

0

In [24]:
print(2*(4+9))

26

In [35]:
my_num = 2
print(abs(my_num))         # abs = absolute value

2

In [38]:
my_num = 3,7
print(max(my_num))         # Higher number

7

In [39]:
my_num = 5,8
print(min(my_num))        # smaller number

5

In [40]:
my_num = 5.6
print(round(my_num))

6