<a href="https://colab.research.google.com/github/Shraddha-Ramteke/Advanced-Python-Programming/blob/main/Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Tuple**
#              Collection data type that is ordered and immutable . It is similar to a list with a main difference to the tuple cannot be changed after its creation.

#             A tuple is often used for Objects that belong together.

# Tuple to a list and Vice versa

In [9]:
my_tuple = ('a','p','p','l','e')
my_list = list(my_tuple)
print(my_list)
my_tuple2 = tuple(my_list)
print(my_tuple2)

['a', 'p', 'p', 'l', 'e']
('a', 'p', 'p', 'l', 'e')

# **Unpack multiple element**

In [10]:
my_tuple = (0,1,2,3,4)
i1 , *i2 , i3 = my_tuple
print(i1)
print(i3)
print(i2)

0
4
[1, 2, 3]